
<div class="col-lg-4 mt-4 mt-lg-0">
  <div class="sidebar-box background-dark drop-shadow rounded">
    <h6 class="mb-3">Категории</h6>
    <ul class="list-style circle pl-4 pb-0">
      {% for object in blog_categories %}
      <li>
        <a href="{% url 'blog_index' slug=object.slug %}" class="btn-link btn-primary hover-target pl-0">{{ object.name }}</a>
      </li>
      {% endfor %}
    </ul>
    <div class="separator-wrap my-5">
      <span class="separator"><span class="separator-line dashed"></span></span>
    </div>

    {% for blog in object.get_articles_5 %}
    <div class="video-section hover-target mt-4 mb-4">
      <a href="{% url 'blog_detail' pk=object.pk %}" class="btn-link btn-primary hover-target pl-0">
        <h6 class="mb-1">{{ blog.title }}</h6>
        <p class="mb-0 pb-0">{{ blog.get_created }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
