
<div class="col-lg-4 mt-4 mt-lg-0">
  <div class="sidebar-box background-dark drop-shadow rounded">
    <h6 class="mb-3">Категории</h6>
    <ul class="list-style circle pl-4 pb-0">
      {% for object in blog_categories %}
      <li>
        <a href="{% url 'blog_index' slug=object.slug %}" class="btn-link btn-primary hover-target pl-0">{{ object.name }}</a>
      </li>
      {% endfor %}
    </ul>
    <div class="separator-wrap my-5">
      <span class="separator"><span class="separator-line dashed"></span></span>
    </div>

    <h6 class="mb-3 mt-4">Похожие статьи</h6>
    {% for blog in object.get_articles_5 %}
    <div class="video-section hover-target mt-4 mb-4">
      <figure class="vimeo">
        <a href="{% url 'blog_detail' pk=blog.pk %}" >
          <img src="{{ blog.image.url }}" alt="img" style="object-fit: cover;max-height: 400px;width: 100%;" />
        </a>
      </figure>
    </div>
    {% endfor %}
  </div>
</div>
