{% extends "base.html" %}
{% block title %}Вход {% endblock %}
{% block content %}

<div class="shadow-title parallax-top-shadow">Вход</div>
		<div class="section padding-page-top padding-bottom over-hide z-bigger">
			<div class="container z-bigger">
				<div class="row page-title px-xl-2">
					<div class="col-12 parallax-fade-top">
						<h1>Вход</h1>
					</div>
					<div class="offset-1 col-11 parallax-fade-top mt-2 mt-sm-3">
						<p>Войдите в аккаунт</p>
					</div>
				</div>
			</div>
		</div>

    <div class="section padding-bottom-big over-hide z-bigger">
  			<div class="container">
  				<div class="row col-md-6 offset-md-3" style="display:block">
            <form class="ajax-form" id="login_form" action="{% url 'rest_login' %}">
              {% csrf_token %}
              <div class="mt-4">
                <input type="text" name="username" id="username" class="hover-target" placeholder="Логин">
              </div>
              <div class=" mt-4">
                <input type="password" name="password" id="password" class="hover-target" placeholder="Пароль">
              </div>
              <div class="mt-4">
                <button id="logg" type="button" class="hover-target" style="float:right"><span>Войти</span></button>
              </div>
              <a href="{% url 'signup' %}" class="hover-target" style="color:#FEFEFE">Нет аккаунта?</a>
            </form>
          </div>
        </div>
      </div>

{% include 'desctop_footer.html' %}

{% endblock %}
