{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}

<div class="section full-height over-hide swiper-container z-bigger" id="hero-slider">
  <ul class="swiper-wrapper case-study-wrapper">
    <li class="swiper-slide full-height case-study-name">
      <a href="" class="hover-target animsition-link">
        <h1>The Battle</h1>
      </a>
    </li>
    <li class="swiper-slide full-height case-study-name">
      <a href="" class="hover-target animsition-link">
        <h1>Dark Dream</h1>
      </a>
    </li>
    <li class="swiper-slide full-height case-study-name">
      <a href="" class="hover-target animsition-link">
        <h1>L'Etoile Feb</h1>
      </a>
    </li>
    <li class="swiper-slide full-height case-study-name">
      <a href="" class="hover-target animsition-link">
        <h1>Tempo</h1>
      </a>
    </li>
    <li class="swiper-slide full-height case-study-name">
      <a href="" class="hover-target animsition-link">
        <h1>Kresios</h1>
      </a>
    </li>
    <li class="swiper-slide full-height case-study-name">
      <a href="" class="hover-target animsition-link">
        <h1>Hospitality</h1>
      </a>
    </li>
    <li class="swiper-slide full-height case-study-name">
      <a href="" class="hover-target animsition-link">
        <h1>Processors</h1>
      </a>
    </li>
    <li class="swiper-slide full-height case-study-name">
      <a href="" class="hover-target animsition-link">
        <h1>Mrsoet</h1>
      </a>
    </li>
  </ul>

  <!-- Background Images -->
  <div class="swiper-scrollbar"></div>
</div>

<!-- Slider background images
================================================== -->

<ul class="case-study-images">
  <li>
    <div class="img-hero-background no-blur" style="background-image: url('img/5.jpg');"></div>
    <h2 class="fullscreen-image no-blur">The Battle</h2>
    <div class="hero-number">01</div>
    <div class="hero-number-fixed">08</div>
  </li>
  <li>
    <div class="img-hero-background no-blur" style="background-image: url('img/1.jpg');"></div>
    <h2 class="fullscreen-image no-blur">Dark Dream</h2>
    <div class="hero-number">02</div>
  </li>
  <li>
    <div class="img-hero-background no-blur" style="background-image: url('img/2.jpg');"></div>
    <h2 class="fullscreen-image no-blur">L'Etoile Feb</h2>
    <div class="hero-number">03</div>
  </li>
  <li>
    <div class="img-hero-background no-blur" style="background-image: url('img/3.jpg');"></div>
    <h2 class="fullscreen-image no-blur">Tempo</h2>
    <div class="hero-number">04</div>
  </li>
  <li>
    <div class="img-hero-background no-blur" style="background-image: url('img/4.jpg');"></div>
    <h2 class="fullscreen-image no-blur">Kresios</h2>
    <div class="hero-number">05</div>
  </li>
  <li>
    <div class="img-hero-background no-blur" style="background-image: url('img/6.jpg');"></div>
    <h2 class="fullscreen-image no-blur">Hospitality</h2>
    <div class="hero-number">06</div>
  </li>
  <li>
    <div class="img-hero-background no-blur" style="background-image: url('img/7.jpg');"></div>
    <h2 class="fullscreen-image no-blur">Processors</h2>
    <div class="hero-number">07</div>
  </li>
  <li>
    <div class="img-hero-background no-blur" style="background-image: url('img/8.jpg');"></div>
    <h2 class="fullscreen-image no-blur">Mrsoet</h2>
    <div class="hero-number">08</div>
  </li>
</ul>
{% endblock %}
