{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}

<div class="section full-height over-hide swiper-container z-bigger" id="hero-slider">
  <ul class="swiper-wrapper case-study-wrapper">
    <li class="swiper-slide full-height case-study-name">
      <a href="{% url 'proects_index' %}" class="hover-target animsition-link">
        <h1>Проекты</h1>
      </a>
    </li>
    <li class="swiper-slide full-height case-study-name">
      <a href="" class="hover-target animsition-link">
        <h1>Шаблоны</h1>
      </a>
    </li>
    <li class="swiper-slide full-height case-study-name">
      <a href="" class="hover-target animsition-link">
        <h1>Видео</h1>
      </a>
    </li>
    <li class="swiper-slide full-height case-study-name">
      <a href="" class="hover-target animsition-link">
        <h1>Партнеры</h1>
      </a>
    </li>
    <li class="swiper-slide full-height case-study-name">
      <a href="{% url 'about' %}" class="hover-target animsition-link">
        <h1>Обо мне</h1>
      </a>
    </li>
  </ul>

  <!-- Background Images -->
  <div class="swiper-scrollbar"></div>
</div>

<!-- Slider background images
================================================== -->

<ul class="case-study-images">
  <li>
    <div class="img-hero-background no-blur" style="background-image: url('/static/images/proects.jpg');"></div>
    <h2 class="fullscreen-image no-blur">Проекты</h2>
    <div class="hero-number">01</div>
    <div class="hero-number-fixed">05</div>
  </li>
  <li>
    <div class="img-hero-background no-blur" style="background-image: url('/static/images/templates.jpg');"></div>
    <h2 class="fullscreen-image no-blur">Шаблоны</h2>
    <div class="hero-number">02</div>
  </li>
  <li>
    <div class="img-hero-background no-blur" style="background-image: url('/static/images/videos.jpg');"></div>
    <h2 class="fullscreen-image no-blur">Видео</h2>
    <div class="hero-number">03</div>
  </li>
  <li>
    <div class="img-hero-background no-blur" style="background-image: url('/static/images/partners.jpg');"></div>
    <h2 class="fullscreen-image no-blur">Партнеры</h2>
    <div class="hero-number">04</div>
  </li>
  <li>
    <div class="img-hero-background no-blur" style="background-image: url('/static/images/demo_about.jpg');"></div>
    <h2 class="fullscreen-image no-blur">Обо мне</h2>
    <div class="hero-number">05</div>
  </li>
</ul>
{% endblock %}
