{% load socialaccount %}

<div class="card mb-3 fullscreen border" id="loginModal" style="display:none;color: #c4c3ca;background-color: #1f2029;">
  <span class="fullscreen_hide">
    <svg class="svg_default svg_default_30" fill="currentColor" style="color: #c4c3ca;width: 30px;" viewBox="0 0 24 24">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
  </span>
  <div style="margin-top:30px;position:relative;">
    <div class="modal-body">
        <div class="box">
            <div class="content">
                <div class="social" style="text-align: center">
                    <a style="font-size: 20px;" href="{% provider_login_url 'vk' method='oauth2' %}">Войти через VK</a>
                </div>

                <div class="row justify-content-center loginBox" style="margin-top:20px">
                  <br><br>
                    <form action="{% url 'rest_login' %}" class="ajax-form" id="login_form">
                        {% csrf_token %}
                            <div class="form-group" style="">
                                <input
                                    type="text"
                                    name="username"
                                    class="hover-target l_username"
                                    placeholder="Ваша почта">
                            </div>
                            <div class="form-group" style="">
                                <input
                                    type="password"
                                    name="password"
                                    id="password"
                                    class="hover-target"
                                    placeholder="Пароль">
                            </div>
                        <div class="form-group" style="text-align:center">
                            <div class="submit-area padding-onlytop-sm">
                                <button id="logg" type="button" class="hover-target">Войти</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="box">
            <div class="row justify-content-center registerBox" style="display:none;margin-top:20px">
              <br><br><br>
                <form action="{% url 'rest_register' %}" class="ajax-form" id="signup">
                    {% csrf_token %}
                        <div class="form-group" style="">
                            <input
                                type="text"
                                name="username"
                                class="r_username hover-target"
                                placeholder="Ваша почта">
                        </div>
                        <div class="form-group">
                            <input
                                type="password"
                                name="password1"
                                id="password1"
                                class="hover-target"
                                placeholder="Придумайте пароль">
                        </div>
                        <div class="form-group">
                            <input
                                type="password"
                                name="password2"
                                id="password2"
                                class="hover-target"
                                placeholder="Повторите пароль">
                        </div>
                    <div class="form-group" style="text-align:center">
                        <button type="button" id="register_ajax" class="hover-target">Регистрация</button>
                    </div>
            </form>
        </div>
    </div>
    </div>
    <div class="modal-footer" style="text-align: center">
    <div class="forgot login-footer">
        <span style="font-size: 20px;">
            <span>Нет аккаунта?</span>
            <a href="javascript: showRegisterForm();">Создать аккаунт</a>
        </span>
    </div>
    <div style="font-size: 20px;" class="forgot register-footer" style="display:none">
        <span>Есть аккаунт?</span>
        <a href="javascript: showLoginForm();">Войти</a>
    </div>
    </div>
  </div>
</div>
