{% load liked_user %}

<div class="section drop-shadow rounded mt-4 over-hide">
  <div class="post-comm-box background-dark over-hide">
    {% if not object.get_comments %}
      <h5 class="mb-3">Комментариев нет</h5>
    {% else %}
      <h5 class="mb-3">Комментарии &nbsp;({{ comments.count }})</h5>
    {% endif %}
    <div class="separator-wrap pt-3 pb-4">
      <span class="separator"><span class="separator-line dashed"></span></span>
    </div>
    {% for comment in object.get_comments %}
      {% include 'comment.html' %}
    {% endfor %}
  </div>
</div>

<div class="section drop-shadow rounded mt-4 over-hide">
  <div class="post-comm-box background-dark over-hide">
    {% if not request.user.is_authenticated %}
    <p>Только авторизованные пользователи могут оставлять комментарии. Пожалуйста,
        <a href="{% url 'login' %}">Авторизуйтесь</a>
        или
        <a href="{% url 'signup' %}">Зарегистрируйтесь</a>
    </p>
    {% else %}
    <h5 class="pb-3">Написать комментарий</h5>
    <form class="ajax-form">
      {% csrf_token %}
      <input type="hidden" name="pk" value="{{ object.pk }}">
      <div class="subscribe-box mt-4">
        <input type="text" placeholder="Напишите что-нибудь" name="text" class="hover-target">
      </div>
      <button class="btn-long mt-4 hover-target comment" type="button">Комментировать</button>
    </form>
    {% endif %}
  </div>
</div>
