{% load liked_user %}

<div class="section drop-shadow rounded mt-4 over-hide">
  <div class="post-comm-box background-dark over-hide">
    {% if not object.get_comments %}
      <h5 class="mb-3">Комментариев нет</h5>
    {% else %}
      <h5 class="mb-3">Комментарии &nbsp;({{ comments.count }})</h5>
    {% endif %}
    <div class="separator-wrap pt-3 pb-4">
      <span class="separator"><span class="separator-line dashed"></span></span>
    </div>
    {% for comment in comments %}
      <span data-pk="{{ comment.pk }}">
        {% if comment.commenter.avatar %}
          <img src="{{ comment.commenter.avatar.url }}" alt="user_avatar" />
        {% else %}
          <img src="/static/images/user.png" alt="user" />
        {% endif %}
        <h6>
          <span class="comment-author">{{ comment.commenter }}</span>
          <small>{{ comment.get_posted }}</small>
        </h6>
        <p class="mt-2">{{ comment.text }}</p>
        {% if request.user.is_authenticated %}
        <a style="cursor:pointer" class="ml-0 mr-1 mt-3 mb-1 hover-target">ответить</a>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="like2 {% if comment.likes.all|user_in:user %}text-success{% endif %}"
              {% if request.user.is_authenticated %}
              data-tooltip="Мне нравится"
              {% else %}
              data-tooltip="Войдите или зарегистрируйтесь"
              {% endif %}>
            <span class="fa fa-thumbs-o-up"></span>
            <span data-count="like">{{ comment.likes.count }}</span>
        </span>
        &nbsp;&nbsp;
        <span class="dislike2 {% if comment.dislikes.all|user_in:user %}text-danger{% endif %}"
              {% if request.user.is_authenticated %}
              data-tooltip="Мне не нравится"
              {% else %}
              data-tooltip="Войдите или зарегистрируйтесь"
              {% endif %}>
            <span class="fa fa-thumbs-o-down"></span>
            <span data-count="dislike">{{ comment.dislikes.count }}</span>
        </span>
      </span>
      {% if not forloop.last %}
      <div class="separator-wrap pt-4 pb-4">
        <span class="separator"><span class="separator-line dashed"></span></span>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="section drop-shadow rounded mt-4 over-hide">
  <div class="post-comm-box background-dark over-hide">
    {% if not request.user.is_authenticated %}
    <p>Только авторизованные пользователи могут оставлять комментарии. Пожалуйста,
        <a href="{% url 'login' %}">Авторизуйтесь</a>
        или
        <a href="{% url 'signup' %}">Зарегистрируйтесь</a>
    </p>
    {% else %}
    <h5 class="pb-3">Написать комментарий</h5>
    <form id="comment_form" class="form post_comments ajax-form" method="post">
      {% csrf_token %}
      <div class="subscribe-box mt-4">
        {{ form.parent_comment }}
        {{ form.comment_area }}
      </div>
      <button class="btn-long mt-4 hover-target" type="button">Комментировать</button>
    </form>
    {% endif %}
  </div>
</div>
