{% extends "base.html" %}
{% block title %}{{ object.category.name }} :: {{ object.title }}{% endblock %}
{% block meta %}
<meta property="og:title" content="{{ object.title }}" />
<meta property="og:image" content="http://pokinutijmir.ru{{ object.image.url }}" />
{% endblock %}
{% block content %}

<style>
	.fluid-width-video-wrapper{
		padding-top: 95% !important;
	}
	.youtube{
		width: 100%;
    height: 30em;
    max-height: 100%;
	}
	.fa{
		color: #FEFEFE;
	}
	.like,
	.dislike {
	    font-size: 16px;
	    cursor: pointer;
	}

	.like2,
	.dislike2 {
	    cursor: pointer;
	    font-size: 16px;
	}

	.views,
	.posted {
	    font-size: 16px;
	}

	.text-success {
	    color: #41cd52 !important;
	}

	.text-danger {
	    color: #FF0000 !important;
	}

	.reply{
	  cursor:pointer;
	}
	.comment-avatar{
	  width: 70px;
	}
	.shot-form{
	  width: 75%;
	float: right;
	margin-left: 100px;
	margin-bottom: 10px;
	}
	  span {
	  position:relative;
	}
	span[data-tooltip]:before {
	  position: absolute;
	  left: 0;
	  top: -100px;
	  background-color: #372811;
	  color: #ffffff;
	  line-height: 30px;
	  border-radius: 5px;
	  padding: 0 15px;
	  content: attr(data-tooltip);
	  display: none;
	  white-space: nowrap;
	  height: 30px;
	  top: -40px;
	}
	    span[data-tooltip]:after {
	    position: absolute;
	    left: 15px;
	    top: -10px;
	    border-top: 7px solid #372811;
	      border-left: 7px solid transparent;
	      border-right: 7px solid transparent;
	    content: "";
	    display: none;
	    }
	    span[data-tooltip]:hover:after, span[data-tooltip]:hover:before {
	    display: block;
	    }

</style>

	<div class="shadow-title parallax-top-shadow">просмотр</div>

		<div class="section padding-bottom-big z-bigger over-hide">
			<div class="container z-bigger" style="margin-top:120px">
				<div class="row page-title px-xl-2">
					<div class="col-lg-8">
						<div class="section drop-shadow rounded">
							<h4 style="margin-top:20px;margin-bottom:20px">{{ object.title }}</h4>
							<div class="post-box background-dark over-hide">

              {% if object.link  %}
                <iframe class="youtube" rel=0 showinfo=0 src="https://www.youtube.com/embed/{{ object.link }}?rel=0&autoplay=1&showinfo=0" allow='autoplay' frameborder="0" allowfullscreen></iframe>
								{% endif %}
							<div class="padding-in">
									<p class="mt-4">{{ object.content|safe }}</p>
									<div class="separator-wrap pt-4 pb-4">
										 <span class="separator"><span class="separator-line dashed"></span></span>
									</div>

									{% include 'info.html' %}
								</div>
							</div>
						</div>

            {% include 'comments.html' %}

					</div>
					{% include 'sidebar.html' %}
				</div>
			</div>
		</div>

{% endblock %}
