{% extends "base.html" %}
{% block title %}Призывы | {{ object.name }}{% endblock %}
{% load liked_user %}
{% block content %}

<div class="shadow-title parallax-top-shadow">Призывы</div>

		<div class="section padding-page-top padding-bottom over-hide z-bigger">
			<div class="container z-bigger">
				<div class="row page-title px-5 px-xl-2">
					<div class="col-12 parallax-fade-top">
						<h1>{{ object.name }}</h1>
					</div>
					<div class="offset-1 col-11 parallax-fade-top mt-2 mt-sm-3">
						<p>Призывы</p>
					</div>
				</div>
			</div>
		</div>

		<div class="section padding-bottom-big over-hide z-bigger">
			<div class="container">
				<div class="row px-5 px-xl-2">
					<div class="col-12">
            <p class="mt-4 mb-4">{{ object.description|safe }}</p>

						<span style="font-size: 25px;padding: 15px;top: 30px;" class="border">Поддержали: <span class="likes_count">{{ object.likes_count }}</span></span>
						{% if request.user.is_authenticated %}
						<p class="mt-4 mb-2 {% if object.likes|user_in:request.user %} text-success{% endif %}">
							<a class="like i_appeal hover-target" data-pk="{{ object.pk }}" style="font-size: 25px;">
								✴️ ПЛЮС ✴️
							</a>
						</p>

						{% else %}
						<p class="mb-2 border-top" style="font-size: 25px;margin-top: 50px;">
							Только авторизованные пользователи могут поддерживать наши призывы. Пожалуйста,
							<a data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal()">Авторизуйтесь</a>
							или
							<a data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Зарегистрируйтесь</a>
						</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		<div class="section padding-top-bottom over-hide z-bigger background-dark-3 footer">
			<div class="shadow-on-footer" data-scroll-reveal="enter bottom move 30px over 0.5s after 0.1s">Обо мне</div>
			<div class="container" data-scroll-reveal="enter bottom move 20px over 0.5s after 0.4s">
				<div class="row">
					<div class="col-12 text-center z-bigger py-5">
						<div class="footer-lines">
							<a href="{% url 'about' %}" class="hover-target animsition-link"><h4>Обо мне</h4></a>
						</div>
					</div>
				</div>
			</div>
		</div>

{% include 'desctop_footer.html' %}
{% include 'generic/modal_form.html' %}

{% endblock %}
