{% extends "base.html" %}
{% block title %}Опросы | {{ object.name }}{% endblock %}
{% load liked_user %}
{% block meta %}
<meta property="og:title" content="Александра Машкова-Благих" />
<meta property="og:image" content="http://aleksandra.top/static/images/aleksandra_vk.jpg" />
<meta property="og:url" content="http://aleksandra.top/" />
<meta property="og:image:width" content="470" />
<meta property="og:image:height" content="246" />
<meta property="og:site_name" content="Александра Машкова-Благих" />
<meta property="og:description" content="Общественный деятель" />
{% endblock %}
{% block content %}

<style>
	.m-b-xs {
  margin-bottom: 2%;
}

.m-b-md {
  margin-bottom: 10%;
}

.m-t-xs {
  margin-top: 2%;
}

.m-t-sm {
  margin-top: 5%;
}

#survey-form input::-webkit-input-placeholder {
  color: transparent !important;
}
#survey-form input::-moz-placeholder {
  color: transparent !important;
}
#survey-form input:-ms-input-placeholder {
  color: transparent !important;
}
#survey-form input:-moz-placeholder {
  color: transparent !important;
}
#survey-form input,
#survey-form select {
  display: block;
  width: 100%;
  overflow: hidden;
  outline: none;
  border: 2px solid #333;
}
#survey-form input {
  margin-top: 1.5%;
  padding: 0 0 5px 0;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #FFF;
  font-size: 1.1em;
  font-weight: 300;
  color: #85FFC7;
}
#survey-form label,
#survey-form .labels {
  display: block;
  margin-bottom: 2%;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #FFF;
  letter-spacing: 0.5px;
}
#survey-form input:focus {
  border-color: #85FFC7;
}
#survey-form [type=checkbox]{
  display: inline-block;
  width: auto;
  margin: 0px 10px 0 0;
}
#survey-form [type=checkbox]{
  display: inline-block;
  margin: 0 10px 0 0 !important;
  position: relative;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 23px;
  width: 23px;
  transition: all 0.15s ease-out 0s;
  background: #37404a;
  color: #FFF;
  cursor: pointer;
  outline: none;
  z-index: 1000;
  border: 1px solid #FFF;
}
#survey-form [type=checkbox]:hover,
#survey-form [type=radio]:hover {
  border-color: #85FFC7;
}
#survey-form [type=checkbox]:checked:before,
#survey-form [type=radio]:checked:before {
  display: inline-block;
  height: 21px;
  width: 21px;
  position: relative;
  left: 0;
  bottom: 7px;
  content: "x";
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  color: #85FFC7;
}

#survey-form fieldset {
  margin: 5% 0 0 0;
}
</style>
<div class="shadow-title parallax-top-shadow">Призывы</div>

		<div class="section padding-page-top padding-bottom over-hide z-bigger">
			<div class="container z-bigger">
				<div class="row page-title px-5 px-xl-2">
					<div class="col-12 parallax-fade-top text-center">
						<h1>{{ object.name }}</h1>
					</div>
					<div class="offset-1 col-11 parallax-fade-top mt-2 mt-sm-3">
						<p>Опросы</p>
					</div>
				</div>
			</div>
		</div>

		<div class="section padding-bottom-big over-hide z-bigger">
			<div class="container">
				<div class="row px-5 px-xl-2">
					<div class="col-12">
            <p class="mt-4 mb-4">{{ object.description|safe }}</p>

						{% if request.user.is_authenticated %}
              {% if object|user_voted:request.user %}
                ❤ Вы уже голосовали ❤
              {% else %}

              <form class="ajax-form" id="survey-form">
                {% csrf_token %}
								<fieldset>
                {% for answer in object.get_answers %}
                  <label for="a_{{ answer.pk }}" class="m-b-xs">
                    <input name="answers" type="checkbox" id="a_{{ answer.pk }}">
                    {{ answer.text }}
                  </label>
                {% endfor %}
								</fieldset>
                <label for="survey-form-suggestions">
                  Вы можете указать регион
                  <input type="text" name="region" class="hover-target">
                </label>
                <button id="survey_btn" type="button" class="hover-target" style="float:right"><span>Отправить</span></button>
              </form>
              {% endif %}
						{% else %}
						<p class="mb-2 border-top text-center" style="font-size: 25px;margin-top: 50px;">
							Только авторизованные пользователи могут поддерживать наши призывы. Пожалуйста,
							<a data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal()">Авторизуйтесь</a>
							или
							<a data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Зарегистрируйтесь</a>
						</p>
						{% endif %}
						<div style="font-size: 25px;padding: 15px;top: 30px;" class="border text-center">Поддержали: <span class="likes_count>{{ object.likes_count }}</span></div>
					</div>
				</div>
			</div>
		</div>

		<div class="section padding-top-bottom over-hide z-bigger background-dark-3 footer">
			<div class="shadow-on-footer" data-scroll-reveal="enter bottom move 30px over 0.5s after 0.1s">Обо мне</div>
			<div class="container" data-scroll-reveal="enter bottom move 20px over 0.5s after 0.4s">
				<div class="row">
					<div class="col-12 text-center z-bigger py-5">
						<div class="footer-lines">
							<a href="{% url 'about' %}" class="hover-target animsition-link"><h4>Обо мне</h4></a>
						</div>
					</div>
				</div>
			</div>
		</div>

{% include 'desctop_footer.html' %}
{% include 'generic/modal_form.html' %}

{% endblock %}
