{% extends "base.html" %}
{% block title %}Обо мне{% endblock %}
{% block content %}

<div class="shadow-title parallax-top-shadow">Обо мне</div>

		<div class="section padding-page-top padding-bottom over-hide z-bigger">
			<div class="container z-bigger">
				<div class="row page-title px-5 px-xl-2">
					<div class="col-12 parallax-fade-top">
						<h1>Обо мне</h1>
					</div>
					<div class="offset-1 col-11 parallax-fade-top mt-2 mt-sm-3">
						<p>делаю истину модной</p>
					</div>
				</div>
			</div>
		</div>

		<div class="section padding-bottom-big over-hide z-bigger">
			<div class="container">
				<div class="row px-5 px-xl-2">
					<div class="col-12">
						<div class="img-wrap">
							<img class="img-mask" src="img/studio.jpg" alt="">
						</div>
					</div>
					<div class="col-12 padding-top">
						<h3>What we do</h3>
					</div>
					<div class="col-12 mt-2 mb-5 page-title-small">
						<p class="mb-0 pb-0">stuff to note</p>
					</div>
					<div class="col-md-4" data-scroll-reveal="enter bottom move 30px over 0.5s after 0.1s">
						<ul class="studio-list">
							<li><p>Banner creation</p></li>
							<li><p>Media campaigns</p></li>
							<li><p>Photography</p></li>
							<li><p>Copywritting</p></li>
							<li><p>Prototyping</p></li>
						</ul>
					</div>
					<div class="col-md-4" data-scroll-reveal="enter bottom move 30px over 0.5s after 0.15s">
						<ul class="studio-list">
							<li><p>Design</p></li>
							<li><p>Animation</p></li>
							<li><p>Art direction</p></li>
							<li><p>User experiencde</p></li>
							<li><p>Front-end</p></li>
						</ul>
					</div>
					<div class="col-md-4" data-scroll-reveal="enter bottom move 30px over 0.5s after 0.2s">
						<ul class="studio-list">
							<li><p>Web development</p></li>
							<li><p>Identity</p></li>
							<li><p>Branding</p></li>
							<li><p>User testing</p></li>
							<li><p>Search engine</p></li>
						</ul>
					</div>
					<div class="col-12 padding-top">
						<h3>Our partners</h3>
					</div>
					<div class="col-12 mt-2 mb-5 page-title-small">
						<p class="mb-0 pb-0">team of creatives</p>
					</div>
					<div class="col-md-3">
						<div class="logo-box">
							<a href="#" class="hover-target"><img src="img/logos/d1.png" alt=""></a>
						</div>
					</div>
					<div class="col-md-3 mt-4 mt-md-0">
						<div class="logo-box">
							<a href="#" class="hover-target"><img src="img/logos/d2.png" alt=""></a>
						</div>
					</div>
					<div class="col-md-3 mt-4 mt-md-0">
						<div class="logo-box">
							<a href="#" class="hover-target"><img src="img/logos/d3.png" alt=""></a>
						</div>
					</div>
					<div class="col-md-3 mt-4 mt-md-0">
						<div class="logo-box">
							<a href="#" class="hover-target"><img src="img/logos/d4.png" alt=""></a>
						</div>
					</div>
					<div class="col-md-3 mt-4">
						<div class="logo-box">
							<a href="#" class="hover-target"><img src="img/logos/d2.png" alt=""></a>
						</div>
					</div>
					<div class="col-md-3 mt-4">
						<div class="logo-box">
							<a href="#" class="hover-target"><img src="img/logos/d5.png" alt=""></a>
						</div>
					</div>
					<div class="col-md-3 mt-4">
						<div class="logo-box">
							<a href="#" class="hover-target"><img src="img/logos/d1.png" alt=""></a>
						</div>
					</div>
					<div class="col-md-3 mt-4">
						<div class="logo-box">
							<a href="#" class="hover-target"><img src="img/logos/d6.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-7 padding-top" data-scroll-reveal="enter bottom move 30px over 0.5s after 0.2s">
						<blockquote class="blockquote">
							<p class="lead-big color-white mb-0"><em>Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</em></p>
							<h6 class="mt-5">Thomas J. Watson</h6>
						</blockquote>
					</div>
				</div>
			</div>
		</div>

		<div class="section padding-top-bottom over-hide z-bigger background-dark-3 footer">
			<div class="shadow-on-footer" data-scroll-reveal="enter bottom move 30px over 0.5s after 0.1s">Say Hello</div>
			<div class="container" data-scroll-reveal="enter bottom move 20px over 0.5s after 0.4s">
				<div class="row">
					<div class="col-12 text-center z-bigger py-5">
						<div class="footer-lines">
							<a href="contact.html" class="hover-target animsition-link"><h4>Have a Project?</h4></a>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
