{% extends "base.html" %}
{% block title %}Обо мне{% endblock %}
{% block content %}

<div class="shadow-title parallax-top-shadow">Обо мне</div>
		<div class="section padding-page-top padding-bottom over-hide z-bigger">
			<div class="container z-bigger">
				<div class="row page-title px-5 px-xl-2">
					<div class="col-12 parallax-fade-top">
						<h1>Обо мне</h1>
					</div>
					<div class="offset-1 col-11 parallax-fade-top mt-2 mt-sm-3">
						<p>делаю истину модной</p>
					</div>
				</div>
			</div>
		</div>

		<div class="section padding-bottom-big over-hide z-bigger">
			<div class="container">
				<div class="row px-5 px-xl-2">
					<div class="col-12">
						<div class="img-wrap">
							<img class="img-mask" src="/static/images/about_cut-photo.ru.jpg" alt="">
						</div>
					</div>
					<div class="col-12 padding-top">
							<p class="lead-big color-white mb-0">
                <em>
                  Дорогие друзья!
                  <br><br>
                  В связи с таким значительным интересом к моей персоне, считаю своим долгом подробнее рассказать о себе и своей позиции,
                  для того чтобы не разочаровать вас в дальнейшем и чтобы было понятно, о чем я пишу и буду писать.
                  <br><br>
                  Я счастливая жена и мама 4х детей, родилась в 1980 году. По образованию - психолог, но несколько разочаровавшаяся в этой
                  профессии (на то есть серьезные причины). Специализировалась на работе с трудными подростками. Много работала в бизнесе.
                  <br><br>
                  Два года назад почти случайно я получила приглашение поработать с Павлом Парфентьевым, которому подошли мои некоторые
                  деловые, личные качества и навыки. Так я стала координатором кампаний CitizenGO Россия - платформы интернет-обращений в
                  защиту семьи, человеческой жизни и прав верующих.
                  <br><br>
                  По своим политическим взглядам - я правый консерватор с легким уклоном в необходимость социальной поддержки со стороны
                  государства. Т.е я считаю, что семья в целом (многопоколенная, традиционная, желательно многодетная) - должна быть
                  автономна, неприкосновенная и полностью защищаема со стороны государства. При этом я уважаю чужое желание жить как он
                  хочет, если его действия не угрожают семье в целом.
                  <br><br>
                  Я считаю, что именно родитель и никто другой лучше всего знает, что нужно его детям. НИКТО! Если семья желает помощи -
                  она сообщает о том, что ей нужно. Если по каким-то причинам эта помощь невозможна, то "помогающие" должны идти лесом.
                  Нравится ли мне как некоторые воспитывают своих детей? Не всегда. Что я могу сделать в этом случае? Я могу предложить
                  свою помощь. Если моей помощи не хотят и моего мнения не спрашивают - я иду лесом.
                  <br><br>
                  Я убеждена, что учебные, медицинские и другие учреждения должны помогать семье и должны работать на всю семью в целом.
                  Уважая и защищая права в первую очередь родителей, как главных защитников своих детей. И именно родителям, а не
                  чиновникам, учителям, медикам и прочим активистам потом жить со нашими детьми. И именно родители обладают должны обладать
                  правом выбора.
                  <br><br>
                  Для того, чтобы помочь родителям сделать выбор, им должна предоставляться - полная, достоверная информация по всем
                  интересующим вопросам. Без пропаганды и любого давления. Какой бы выбор не сделали родители - все службы должны
                  относиться к нему с уважением.
                  <br><br>
                  Очень большое внимание я уделяю образованию своих детей. Потому что я считаю, что при нынешней общемировой ситуации -
                  качественное и серьезное образование является гарантом выживания моих детей, внуков и моего рода в целом.
                  Для младшего ребенка я выбрала семейную форму обучения. При этом - с глубоким уважением и даже любовью отношусь ко многим
                  учителям и некоторым директорам школ, которых знаю лично.
                  <br><br>
                  Я всегда стараюсь объединяться и дружить с профессионалами и их семьями и с готовностью обмениваюсь с ними ресурсами.
                  Большое внимание я уделяю здоровью своих детей. И очень четко понимаю, что последствия своего любого выбора в следствии
                  вмешательства и невмешательства я буду разгребать сама. С глубочайшим уважением я отношусь ко многим медикам. Если я
                  понимаю, что медик действительно заботиться о здоровье моего ребенка, то с готовностью делегирую ему право этого выбора.
                  Но! - я должна понимать и взвесить ВСЕ риски.
                  <br><br>
                  Отношение к религии. Я являюсь православной христианкой. При этом к православию я пришла через ...логику. К другим
                  религиозным конфессиям я отношусь с уважением, если они не угрожают жизни, здоровью моих детей и если они не нарушают
                  право семьи.
                  <br><br>
                  Я глубоко убеждена, что горизонтальные связи семей более важны для выживания людей нашей страны и считаю, что такой
                  способ организации общества - самый гармоничный. Я не верю, что придет светлый рыцарь и нас спасет. К сожалению, я
                  знакома со некоторыми "рыцарями", представленными в нашем общественно-политическом поле.
                  <br><br>
                  Поэтому я считаю, что семьи должны объединяться в сообщества и отстаивать свое право на автономию. И считаю, что люди
                  сами должны помогать друг другу без ожидания, что им кто-то поможет. Поэтому я поддерживаю семейное обучение, общины,
                  малый бизнес, ассоциации созданные самими людьми. И я крайне подозрительностью отношусь к социальным благам идущим от
                  государства. На пенсию, кстати, я не надеюсь.
                  <br><br>
                  Если в нашей стране появится политик, который по-настоящему отстаивает право семей - я поддержу его. Если политик
                  нарушает право семьи - я откажусь поддерживать его. При этом я являюсь про-государственником - люблю Россию (как бы она
                  не называлась), активно радуюсь успехам нашей страны, готова защищать ее, хочу чтобы мои дети, внуки и правнуки жили на
                  земле своих предков.
                  <br><br>
                  Отношение к другим странам. Не смотря на напряженную политическую обстановку в мире, я внимательно изучаю опыт других
                  стран. Особенно к тому, что имеет отношение к правам семей, образованию детей и способам самоорганизации людей.
                  Приветствую друзей из разных стран, люблю путешествовать и общаться. Я не склонна считать врагами всех, кто "там". И не
                  считаю, что любой зарубежный опыт может подойти нашей стране.
                  <br><br>
                  ЛГБТ, секспросвет и феминизм. Мне глубоко все равно, кто с кем и как спит. Я считаю, что именно родители должны принимать
                  решение - когда и в какой мере они сообщат своим детям "про это". Я считаю, что любая женщина имеет права любить или не
                  любить мужчин, сама решать сколько раз выходить замуж и от кого рожать своих детей.
                  <br><br>
                  При этом у меня очень жесткая позиция - если действия этих групп угрожают семье, то эти группы мне совсем не друзья!
                  Более того, я профессионально знаю, что существуют много хорошо финансированных организаций, которые якобы отстаивают
                  права, но по факту разрушают наши семьи. Я лично знаю гомосексуалистов, которые совершенно не поддерживают ЛГБТ-повестку
                  и считают, что только в традиционной семье дети могут быть счастливы - такие люди мне не враги.
                  <br><br>
                  Аборты. Я считаю аборт убийством. Точка. Эта тема мучительная и страшная для меня. Я с огромным уважением отношусь к тем,
                  кто борется за права нерожденных детей.
                </em>
              </p>
							<h6 class="mt-5">Александра Машкова-Благих</h6>
					</div>
				</div>
			</div>
		</div>


		<div class="container section padding-bottom-big over-hide z-bigger">
				<div class="row px-5 px-xl-2">
					<div class="col-12 padding-top">
						<h3>Есть вопросы?</h3>
					</div>
					<div class="col-12 mt-2 mb-5 page-title-small">
						<p class="mb-0 pb-0">Свяжитесь со мной</p>
					</div>
					<div class="col-12 padding-top">
						<form class="form ajax-form contact-form" style="width:100%;"action="">
  							   <div class="">
                     {{ form.name }}
  							   </div>
  							   <div class="mt-4">
                     {{ form.email }}
  							   </div>
  							   <div class="mt-4">
                     {{ form.message }}
									 </div>
                   <div class="col-md-12 mt-4">
								      <button class="hover-target" id="message_send"><span>отправить</span></button>
							     </div>
                </form>
					</div>

				</div>
		</div>

{% include 'footer.html' %}

{% endblock %}
