{% extends "base.html" %}
{% block title %}{{ object.title }} | Мои проекты{% endblock %}
{% block content %}

<div class="shadow-title parallax-top-shadow">{{ object.title }}</div>

		<div class="section padding-page-top padding-bottom over-hide z-bigger">
			<div class="container z-bigger">
				<div class="row page-title px-5 px-xl-2">
					<div class="col-12 parallax-fade-top">
						<h1>{{ object.title }}</h1>
					</div>
					<div class="offset-1 col-11 parallax-fade-top mt-2 mt-sm-3">
						<p>Мои проекты</p>
					</div>
				</div>
			</div>
		</div>

		<div class="section padding-bottom-big over-hide z-bigger">
			<div class="container">
				<div class="row px-5 px-xl-2 justify-content-center">
					<div class="col-12 mb-5">
						<div class="img-wrap">
							<img src="{{ object.image.url }}" alt="">
						</div>
					</div>
					<div class="col-lg-8 mb-5">
						<p class="mb-0 pb-0 lead">{{ object.description|safe }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="section padding-top-bottom over-hide z-bigger background-dark-3 footer">
			<div class="shadow-on-footer" data-scroll-reveal="enter bottom move 30px over 0.5s after 0.1s">Проекты</div>
			<div class="container" data-scroll-reveal="enter bottom move 20px over 0.5s after 0.4s">
				<div class="row">
					<div class="col-12 text-center z-bigger py-5">
						<div class="footer-lines">
							<a href="{% url 'proects_index' %}" class="hover-target animsition-link"><h4>Проекты</h4></a>
						</div>
					</div>
				</div>
			</div>
		</div>


{% include 'footer.html' %}

{% endblock %}
