<div class="social-fixed">
  <a href="https://www.facebook.com/profile.php?id=100018868567588" class="hover-target"><span class="fa fa-facebook"></span></a>
  <a href="https://vk.com/sashablagih" class="hover-target"><span class="fa fa-vk"></span></a>
  <a href="https://ok.ru/profile/572550595651" class="hover-target"><span class="fa fa-odnoklassniki"></span></a>
  <a href="https://t.me/vpokoe" class="hover-target"><span class="fa fa-paper-plane"></span></a>
  <a href="https://www.youtube.com/channel/UCNk-vtmmGkQpKSWtbn7oMiw" class="hover-target"><span class="fa fa-youtube"></span></a>
  <a href="https://www.instagram.com/aleksandra_mashkova_blagih/" class="hover-target"><span class="fa fa-instagram"></span></a>
  <a href="https://zen.yandex.ru/id/5eff6dd0aea14a67d4cf4c60" class="hover-target">
    <img src="/static/images/zen-icon.png" style="width:22px;height:22px"/>
  </a>
</div>
<div class="copyr">
  2020 © Сделал <a href="https://vk.com/nice_web" class="hover-target" target="_blank">Сергей Зубарев</a>
</div>
