{% extends "base.html" %}
{% block title %}Выход{% endblock %}
{% block content %}
<div class="shadow-title parallax-top-shadow">Выход</div>

		<div class="section padding-page-top padding-bottom over-hide z-bigger">
			<div class="container z-bigger">
				<div class="row page-title px-xl-2">
					<div class="col-12 parallax-fade-top">
						<h1>Выход</h1>
					</div>
					<div class="offset-1 col-11 parallax-fade-top mt-2 mt-sm-3">
						<p>Вы успешно вышли</p>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
