<header class="cd-header">
  <div class="header-wrapper">
    <div class="logo-wrap" style="line-height: 0.12;">
      <a href="{% url 'main' %}" class="hover-target animsition-link" style="color: white;">
        <p style="font-size: 25px;">Александра</p><br>
        <span style="padding-left: 11px;">Машкова-Благих</span>
      </a>
    </div>
    <div class="nav-but-wrap">
      <div class="menu-icon hover-target">
        <span class="menu-icon__line menu-icon__line-left"></span>
        <span class="menu-icon__line"></span>
        <span class="menu-icon__line menu-icon__line-right"></span>
      </div>
    </div>
  </div>
</header>
<div class="nav">
  <div class="nav__content">
    <ul class="nav__list">
      {% url 'main' as main_url %}
      {% url 'about' as about_url %}
      {% url 'blanks' as blanks_url %}
      {% url 'proects_index' as proects_url %}

      <li class="nav__list-item {% if main_url == current_url %}active-nav{% endif %}">
        <a href="{{ main_url }}" class="hover-target animsition-link">Главная</a>
      </li>

      <li class="nav__list-item {% if proects_index == current_url %}active-nav{% endif %}">
        <a href="{{ proects_url }}" class="hover-target animsition-link">Проекты</a>
      </li>

      <li class="nav__list-item {% if blanks_url == current_url %}active-nav{% endif %}">
        <a href="{{ blanks_url }}" class="hover-target animsition-link">Шаблоны</a>
      </li>
      <li class="nav__list-item">
        <a data-toggle="collapse" href="#collapseSub" class="hover-target" role="button" aria-expanded="false" aria-controls="collapseSub">
          видео
        </a>
        <ul class="sub-links collapse" id="collapseSub">
          {% for object in movie_categories %}
            <li {% if object.pk == category.pk %} class="active-nav"{% endif %}>
              <a href="{% url 'movies_index' slug='full_version' %}" class="hover-target animsition-link">{{ object.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li class="nav__list-item">
        <a href="" class="hover-target animsition-link">Партнеры</a>
      </li>

      <li class="nav__list-item {% if about_url == current_url %}active-nav{% endif %}">
        <a href="{{ about_url }}" class="hover-target animsition-link">Обо мне</a>
      </li>
    </ul>
  </div>
</div>
